<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Campus Bord - Not Found</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png" />
    <link href="/static/font-files/montserrat.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/404.css" />
  </head>
  <body>
    <div class="error">
      <h1>404 - Page not found</h1>
      <a href="/">Back to homepage</a>
    </div>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
