<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>College Event Website</title>
    <link rel="icon" type="image/x-icon" href="./static/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./static/style.css" />
  </head>
  <body>
    <%- include('partials/header.ejs') %>

    <div class="container">
      <div class="event-container">
        <% for(let i = 0; i < dates.length; i++) { %>
        <h3 class="event-date"><%= dates[i].date %></h3>
        <% for(let j = 0; j < dates[i].events.length; j++) { %>
        <%- include('partials/card.ejs', {id:i+j, event:dates[i].events[j]}) %>
        <% } %>
        <% } %>
      </div>
    </div>

    <%- include('partials/footer.ejs') %>

    <script src="./static/script.js" charset="utf-8"></script>
  </body>
</html>
