<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>College Event Website</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png" />
    <link href="/static/font-files/montserrat.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <%- include('partials/header.ejs') %>

    <div class="container">
      <div class="event-container">
        <% let dates_obj = Object.keys(dates); if (dates_obj.length == 0) { %>
        <br /><br />
        <h3>We couldn't find any events happening today :(</h3>
        <h3>Be the first to submit one!</h3>
        <% } %>

        <% dates_obj.forEach(date => { %>
        <h3 class="event-date"><%= date %></h3>
        <%
          let events = dates[date];
          for (let i = 0; i < events.length; i++) {
        %>
        <%- include('partials/card.ejs', {id:events[i].id, event:events[i], desc: false, full_time: false}) %>
        <%
          }
        });
        %>
      </div>
    </div>

    <%- include('partials/footer.ejs') %>

    <script src="/static/js/script.js" charset="utf-8"></script>
  </body>
</html>
