<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post Event</title>
    <link rel="icon" type="image/x-icon" href="./static/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./static/style.css" />
    <link rel="stylesheet" href="./static/create.css" />
  </head>
  <body>
    <div class="header">
      <h2>Create Event</h2>
    </div>

    <div class="container">
      <div class="event-container">
        <div class="image-container">
          <img id="img-display" class="no-image" alt="" />
          <div class="file-input">
            <input
              type="file"
              id="file"
              class="file"
              accept="image/png, image/jpeg"
            />
            <label for="file">Upload Image</label>
          </div>
        </div>
        <div class="form-container">
          <textarea
            class="event-name"
            id="title"
            placeholder="Event Name"
          ></textarea>
        </div>
      </div>
    </div>

    <%- include('partials/footer.ejs') %>

    <script src="./static/create.js" charset="utf-8"></script>
  </body>
</html>
