<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pending Event</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png" />
    <link href="/static/font-files/montserrat.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <style>
      .pending {
        margin-top: 2rem;
        text-align: left;
      }

      .pending p {
        margin-block: 1rem;
      }
    </style>
  </head>
  <body>
    <%- include('partials/header.ejs') %>

    <div class="container">
      <div class="event-container">
        <div class="pending">
          <p>
            Thanks for submitting an event!<br />We're quickly reviewing it and
            will email you when it's approved.
          </p>
          <p>
            When approved, it will be posted on the home page and on this
            link:<br /><a href="/event/<%= id %>"
              >https://campusbord.com/event/<%= id %></a
            >
          </p>
        </div>
      </div>
    </div>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
