.container {
  padding-bottom: 2rem;
}

.event-container {
  max-width: 1000px;
}

.header {
  max-width: 1000px;
}

.footer {
  max-width: 1000px;
}

.image-container {
  width: 50%;
  display: inline-block;
  float: left;
  padding-inline: 1rem;
  margin-top: 1rem;
}

.form-container {
  width: 50%;
  display: inline-block;
  float: right;
  padding-inline: 1rem;
  margin-top: 1rem;
}

@media only screen and (max-width: 800px) {
  .image-container {
    width: 100%;
    max-width: calc(100vh / 3);
    margin-left: calc((100% - (100vh) / 3) / 2);
  }
  .form-container {
    width: 100%;
  }
}

.image-container img {
  width: 100%;
  background-color: rgba(var(--border-rgb), 0.2);
  display: block;
  border-radius: 10px;
}

.no-image {
  height: 0;
  padding-bottom: 100%;
}

.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
}

.file-input label {
  background-color: var(--bgtone);
  color: var(--text);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 1.2rem;
  font-size: 1rem;
  transition: box-shadow 0.2s ease-in-out;
  display: block;

  box-shadow: inset -1px 1px 1px rgba(200, 200, 200, 0.2),
    0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

.file-input label:hover {
  /*filter: opacity(65%);*/

  box-shadow: inset -1px 1px 1px rgba(200, 200, 200, 0.2);
}

.event-name {
  font-size: 2rem;
  border: none;
  outline: none;
  background-color: var(--bg);
  color: var(--text);
  width: 100%;
  padding: 1rem;
  resize: none;
  height: 72px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.organizer {
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.organizer label {
  font-size: 1rem;
  display: inline-block;
  width: 30px;
  text-align: left;
  opacity: 0.7;
}

.event-org {
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: var(--bg);
  color: var(--text);
  width: calc(100% - 35px);
  padding: 1rem;
  resize: none;
  height: 52px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: inline-block;
}

.date {
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}

.date label {
  font-size: 1rem;
  display: inline-block;
  width: 25%;
  text-align: left;
  opacity: 0.7;
}

.form-date {
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: var(--bgtone);
  color: rgba(var(--text-rgb), 1);
  width: 75%;
  padding: 1rem;
  border-radius: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: inline-block;
  cursor: pointer;

  box-shadow: inset -1px 1px 1px rgba(200, 200, 200, 0.2),
    0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

.form-date:hover {
  box-shadow: inset -1px 1px 1px rgba(200, 200, 200, 0.2);
}

.form-date::placeholder {
  color: rgba(var(--text-rgb), 0.5);
}

.time {
  margin-top: 1rem;
  padding-inline: 1rem;
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
}

.time label {
  font-size: 1rem;
  display: inline-block;
  width: 25%;
  text-align: left;
  opacity: 0.7;
}

.time div.dropdown-container {
  display: inline-block;
  width: 75%;
}

.loc {
  margin-top: 2.5rem;
  padding-inline: 1rem;
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
}

.loc label {
  font-size: 1rem;
  display: inline-block;
  width: 25%;
  text-align: left;
  opacity: 0.7;
}

.loc div.dropdown-container {
  display: inline-block;
  width: 75%;
}

.loc input {
  caret-color: auto;
}

.loc-room {
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: var(--bgtone);
  color: var(--text);
  width: calc(100% - 25% - 2rem);
  padding: 1rem;
  padding-block: 0.8rem;
  border-radius: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: inline-block;
  cursor: text;
  margin-left: 25%;
  margin-top: 1rem;

  box-shadow: inset -1px 1px 1px rgba(200, 200, 200, 0.2),
    0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

.loc-room:hover {
  box-shadow: inset -1px 1px 1px rgba(200, 200, 200, 0.2);
}

.email {
  margin-top: 2.5rem;
  padding-inline: 1rem;
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
}

.email label {
  font-size: 1rem;
  display: inline-block;
  width: 25%;
  text-align: left;
  opacity: 0.7;
}

.email-input {
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: var(--bgtone);
  color: var(--text);
  width: 75%;
  padding: 1rem;
  padding-block: 0.8rem;
  border-radius: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: inline-block;
  cursor: text;

  box-shadow: inset -1px 1px 1px rgba(200, 200, 200, 0.2),
    0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

.email-input:hover {
  box-shadow: inset -1px 1px 1px rgba(200, 200, 200, 0.2);
}

.desc {
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  margin-bottom: 1;
  margin-top: 1.5rem;
}

.desc label {
  font-size: 1rem;
  display: inline-block;
  width: 25px;
  text-align: left;
  opacity: 0.7;
  padding-top: 0.2rem;
}

.event-desc {
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid var(--border);
  outline: none;
  background-color: var(--bg);
  color: var(--text);
  width: calc(100% - 30px);
  padding: 1rem;
  padding-left: 0.3rem;
  margin-left: 10%;
  resize: none;
  height: 52px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: inline-block;
}

.tags {
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  margin-bottom: 1;
  margin-top: 2rem;
}

.tags label {
  font-size: 1rem;
  display: inline-block;
  width: 25%;
  text-align: left;
  opacity: 0.7;
}

.tags label small {
  margin-top: 1.5rem;
}

.tags div.tags-container {
  display: inline-block;
  width: 75%;
}

.submit {
  background-color: var(--btn);
  color: var(--btn-txt);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 1.2rem;
  font-size: 1rem;
  transition: box-shadow 0.2s ease-in-out;
  display: inline;
  margin-top: 2.5rem;
  width: 75%;

  box-shadow: inset -1px 1px 1px rgba(200, 200, 200, 0.2),
    0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

.submit:hover {
  box-shadow: inset -1px 1px 1px rgba(200, 200, 200, 0.2);
}

.submit:disabled {
  background-color: var(--bgtone);
  opacity: 0.7;
  box-shadow: inset -1px 1px 1px rgba(200, 200, 200, 0.2);
  pointer-events: none;
}

.error {
  display: none;
  margin-block: 1rem;
  padding: 0.7rem;
  width: 100%;
  border-radius: 1rem;
  border: 1px solid var(--error);
  background-color: var(--bgtone);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}
