.image-container {
  width: 50%;
  display: inline-block;
  float: left;
  padding-inline: 1rem;
  margin-top: 1rem;
}

.form-container {
  width: 50%;
  display: inline-block;
  float: right;
  padding-inline: 1rem;
  margin-top: 1rem;
}

@media only screen and (max-width: 600px) {
  .image-container {
    width: 100%;
    max-width: calc(100vh / 3);
    margin-left: calc((100% - (100vh) / 3) / 2);
  }
  .form-container {
    width: 100%;
  }
}

.image-container img {
  width: 100%;
  background-color: rgba(var(--border-rgb), 0.2);
  display: block;
  border-radius: 10px;
}

.no-image {
  height: 0;
  padding-bottom: 100%;
}

.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
}

.file-input label {
  background-color: var(--bgtone);
  color: var(--btn-txt);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 1.2rem;
  font-size: 1rem;
  transition: box-shadow 0.2s ease-in-out;
  display: block;

  box-shadow:
    inset -1px 1px 1px rgba(200, 200, 200, 0.2),
    0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

.file-input label:hover {
  /*filter: opacity(65%);*/

  box-shadow: inset -1px 1px 1px rgba(200, 200, 200, 0.2);
}

.event-name {
  font-size: 2rem;
  border: none;
  outline: none;
  background-color: var(--bg);
  color: var(--text);
  width: 100%;
  padding: 1rem;
  resize: none;
  height: 72px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
