:root {
  --bg: #030712;
  --text: #FFFFFF;
  --primary: #1F232D;
  --secondary: #364153;

  --width: 500px;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

hr {
  color: var(--primary);
}

.header {
  display: flex;
  flex-direction: row;
  width: var(--width);
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}

.header h1 {
  font-family: Verdana;
  font-size: 1.75rem;
}

.header button {
  background: var(--secondary);
  border: none;
  border-radius: 20px;
}

.header p {
  padding: 8px 12px;
  font-size: 0.875rem;
  font-family: Verdana;
  color: var(--text);
}

.container {
  width: var(--width);
  padding: 20px 10px;
}

.event-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.event-date {
  padding: 4px 12px;
  font-size: 0.75rem;
  width: fit-content;
  border-radius: 20px;
  background: var(--primary);

  box-shadow:
    inset -1px 1px 1px rgba(200, 200, 200, 0.2),
    0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

.card {
  display: flex;
  background: var(--primary);
  border-radius: 10px;
  /* height: auto; */

  box-shadow:
    inset -1px 1px 1px rgba(200, 200, 200, 0.2),
    0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);

  cursor: pointer;
  transition: transform 0.3s;
  /*display: flex;*/
  text-align: left;
  /*flex-direction: column;*/
  transition: box-shadow 0.2s ease-in-out;
}

.card:hover {
  box-shadow: inset -1px 1px 1px rgba(200, 200, 200, 0.2);
}

.card-img {
  display: flex;
}

.card img {
  width: 120px; /* 7.5rem */
  object-fit: cover;
  border-radius: 10px 0px 0px 10px;
  aspect-ratio: 0.8;
  max-height: none;
  /* max-height: calc(150px + 2rem); */
}

.card-body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.card-body p {
  font-family: Verdana;
  font-size: 0.75rem;
}

.card-title {
  font-weight: normal;
}

.card-loc {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.card-tags {
  display: flex;
  gap: 0.5rem;
  padding-top: 0.75rem;
}

.card-tags p {
  padding: 4px 12px;
  font-size: 0.75rem;
  /* width: fit-content; */
  border-radius: 20px;
  background: var(--secondary);
}

.footer {
  display: flex;
  width: var(--width);
  justify-content: center;
  position: fixed;
  bottom: 0;
  padding: 10px;
}

.footer a {
  color: var(--text);
  text-decoration: none;
}